@model CameraCounter.Models.ProductionOrder

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProductionOrder</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CamerasMade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CamerasMade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CamerasFailed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CamerasFailed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateDone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateDone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Line)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Line.ID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
